.container {
  max-width: 1280px;
  margin: auto;
  display: flex;
  position: relative;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.cherryDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  background-color: var(--pink);
  margin-top: 3rem;
  padding: 1rem;
  border-radius: 2rem;
  font-size: 1rem;
  gap: 2rem;
  color: var(--themeRed);
  font-weight: bold;
}

.heroText {
  display: flex;
  flex-direction: column;
  font-size: 4rem;
  font-weight: bold;
  z-index: 1;
}

.miniText {
  width: 70%;
  color: var(--gray);
  font-weight: 600;
}

.btn {
  padding: 1rem 2.5rem;
}

.right {
  position: relative;
}

.imageContainer {
  width: 35rem;
  position: absolute;
  left: 0rem;
}

.ContactUs {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: max-content;
  padding: 1rem;
  border-radius: 5rem;
  top: 10rem;
  left: -2rem;
  gap: 1rem;
  background-color: white;
  box-shadow: var(--shadow);
  color: var(--themeRed);
}

.ContactUs > div {
  background: rgb(59, 208, 59);
  border-radius: 50%;
  width: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
}

.ContactUs:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.Pizza {
  display: flex;
  gap: 1rem;
  background-color: white;
  box-shadow: var(--shadow);
  padding: 0.5rem;
  border-radius: 0.5rem;
  position: absolute;
  bottom: -3rem;
  left: 10rem;
  width: max-content;
}

.Pizza > :nth-child(1) {
  width: 6rem;
  height: 4rem;
  overflow: hidden;
  border-radius: 0.5rem;
}

.Pizza > :nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: bold;
}

.Pizza:hover {
  transform: scale(1.1);
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .container {
    margin-bottom: 2rem;
  }
  .cherryDiv {
    /* position: absolute; */
    opacity: 0;
    margin-top: 0rem;
    font-size: 1rem;
  }
 

  .cherryDiv > span > img {
    opacity: 0;
  }

  .heroText {
    margin-top: 0rem;
    font-size: 1.2rem;
  }

  .miniText {
    font-size: 0.9rem;
    z-index: 1;
  }

  .imageContainer {
    position: absolute;
    width: 20rem;
    left: -10rem;
    top: 2rem;
  }

  .ContactUs {
    transform: scale(0.7);
    top: 3.5rem;
    left: -21rem;
    opacity: 0;
  }
  /* .ContactUs:hover {
    transform: scale(0.8);
  } */
  .btn {
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
  }
  .Pizza {
    transform: scale(0.7);
    bottom: 0rem;
    left: -10rem;
    opacity: 0;
  }
  /* .Pizza:hover {
    transform: scale(0.8);
    cursor: pointer;
  } */
}
